body {
    background: url(fond\ cascade.png);
    width: 1080px;
    height: 720px;
    background-size: 1500px 1000px;
    margin: 0;
    padding: 0;
}
body{margin: 0; padding: 0;}
#image{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
img{
    width:400px;
    height: auto;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}
h1{
    color: pink;
    border: 5px solid ;
    text-align: center;
    margin: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}
ol{
    display: flex;
    color: rgb(255, 0, 221);
    font-size: 30px;
    margin: 0px;
    margin-top: 0;
    justify-content: space-around;
}

p{
    color: pink;
    font-size: 20px; 
    text-align: center;
    margin-left: 150px;
    margin-bottom: 2px;
}

